body
	background-color white
	color red
	font-size 12px
	color blue
	color rgba(#6f123c, 0.8)

h1
	font-variant-caps small-caps
	font-variant-numeric lining-nums

.ui-flex
	display flex

.avatar
	size 80px
	border-radius 50%
